* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    display: flex;
    width: 96%;
    align-self: center;
}

nav img {
    width: 8%;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    border: 2px solid transparent;
    padding-top: 10px;
    color: black
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.select {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.choix {
    display: flex;
}

.choix :first-child {
    margin-right: 15px;
}
article {
    align-self:center;
    width: 96%;
}

article h3 {
    margin-bottom: 0;
}

article > p {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.800);
}
form {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 96%;
    margin-bottom: 10px;
}

form span {
    display: flex;
    margin: 0;
    background-color:#F2F2F2;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 5%;
    border-radius: 5px 0 0 5px;
}

form span:hover {
    filter: drop-shadow(0 0 1px);
    cursor: pointer;
}

form input {
    margin: 0;
    height: 100%;
    width: 20%;
    font-weight: bold;
    border: 2px solid #F2F2F2;
}

form p {
    background-color: #0065FC;
    height: 100%;
    margin: 0;
    text-align: center;
    padding-top: 12px;
    width: 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    position: relative;
}

form p i{
    visibility: hidden;
}
form a {
    text-decoration: none;
    color: #F2F2F2;
    font-weight: bold;
}

.filtre {
    display: flex;
    align-items: center;
    width: 100%;
}
.filtre h3 {
    margin: 0;
}
.cat {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.eco {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 3px solid #F2F2F2;
    height: 30px;
    width: max-content;
}

.eco:hover {
    background-color: #F2F2F2;
    cursor: pointer;
    filter: drop-shadow(0 0 1px);
}

.eco p {
    margin-left: 10px;
}

.eco span {
    display: flex;
    background-color: #DEEBFF;
    border-radius: 100%;
}

.fa-solid {
    color:#0065FC ;
}

.inf {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: row;
}

.inf span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color:#DEEBFF
}

.inf p {
    color: rgba(0, 0, 0, 0.800);
    margin-left: 10px;
}


@media (max-width:992px) {
    nav a {
        padding-top: 10px;
    }
    nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
    }

    form p {
        width: 10%;
    }

    form p i {
        visibility: visible;
    }

    form p a {
        display: none;
    }

    #loupe {
        color:#DEEBFF;
    }

}

@media (max-width:768px) {
    .select {
        flex-direction: column;
        align-items: center;
    }

    .choix {
        width: 90%;
        justify-content: space-around;
    }

    nav a {
        padding-top: 10px;
    }
    nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
    }

    nav img {
        width: 25%;
        cursor: pointer;
    }


    .filtre {
        flex-direction: column;
        align-items: unset;
        width: 85%;
    }

    .cat {
        align-items: unset;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        align-self: center;
    }

    .eco {
        height: 40px;
    }
    .eco:hover {
        background-color: #F2F2F2;
        cursor: pointer;
        filter: drop-shadow(0 0 1px);
    }

    form {
        width: 100%;
    }

    form p {
        width: 15%;
        border-radius: 10px;
    }
    form input {
        width: 70%;
    }

    form p i {
        visibility: visible;
    }

    form p a {
        display: none;
    }

    form span {
        width: 15%;
    }

    #loupe {
        color:#DEEBFF;
    }

    .inf {
        width: 100%;
    }
   
}